<div class="min-h-screen w-full">
    <div class="pt-64 text-3xl text-center">
        <div class="text-black">Thank you for confirming your email.</div>
        <a asp-controller="Auth" asp-action="Login" class="text-blue text-2xl cursor-pointer text-center">Login here</a>
    </div>
</div>