@model SportBooking.BLL.Dtos.ForgotPasswordDto

<div class="w-full pt-36 min-h-screen">
    <div class="container mx-auto justify-content-center">
        <form asp-action="ForgotPassword" method="post" class="w-1/2 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-auto">
            <div class="my-4 text-black font-semibold text-lg">Reset password</div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="Email"></label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button class="rounded bg-blue-600 px-3 py-2 text-white" type="submit">Send confirmation link</button>
        </form>
    </div>
</div>