@model SportBooking.BLL.Dtos.ResetPasswordDto

<h1>ResetPassword</h1>
<div class="min-h-screen w-full pt-36">
    <form asp-action="ResetPassword">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-4">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-4">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Email" class="form-control" />
        <input type="hidden" asp-for="Token" class="form-control" />
        <div class="mb-4">
            <button class="bg-blue-600 px-3 py-2 text-white rounded" type="submit">Create</button>
        </div>
    </form>
</div>