@{
    ViewData["Title"] = "Home Page";
}

<div class="grid grid-cols-2 container mx-auto gap-x-36 items-center h-screen">
    <div>
        <div class="text-white text-5xl font-bold">Sport booking platform</div>
        <div class="text-white mt-10 text-2xl text-justify">
            Book in 150,000 destinations across the world. Big and famous stadiums. Best Price Guarantee. We speak your language. Best conditions. Sign Up For Deals. List Your Property. Become An Affiliate. Register Online. Highlights: Press Center Available, Customer
            Service Available.
        </div>
    </div>
    <img src="https://simplybook.me/build/images/trial-section/sport.37a43f7c.png"/>
</div>