@model SportBooking.BLL.Dtos.SportFieldDto

@{
    ViewData["Title"] = "Post sport field";
}

<div class="w-full pt-36 min-h-screen">
    <div class="container mx-auto justify-content-center">
        <form asp-action="PostSportField" method="post" class="w-1/2 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-auto">
            <div class="my-2 text-red-500 font-semibold">@ViewBag.ErrorMessage</div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="Address"></label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" asp-for="Address" class="form-control"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="PricePerHour"></label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" asp-for="PricePerHour" class="form-control"/>
                <span asp-validation-for="PricePerHour" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="ImageUrl"></label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" asp-for="ImageUrl" class="form-control"/>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="Title"></label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="Description"></label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="StartProgram"></label>
                <input id="StartProgramInput" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" asp-for="StartProgram" class="form-control"/>
                <span asp-validation-for="StartProgram" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" asp-for="EndProgram"></label>
                <input id="EndProgramInput" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" asp-for="EndProgram" class="form-control"/>
                <span asp-validation-for="EndProgram" class="text-danger"></span>
            </div>

            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Post
                </button>
            </div>
        </form>
    </div>
</div>